body {
  padding: 1rem;
  margin-top: 0.8rem;

  --gray: #718093;
  --red: #e84118;
  --green: #44bd32;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-bottom: 0.8rem;
}

h1 {
  font-size: 1.4rem;
}

h2, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
}

p {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

ul, ol {
  list-style-position: outside;
  padding-left: 1.4rem;
  margin-bottom: 0.6rem;
}

li {
  margin: 0.3rem 0;
}

ul {
  list-style: square;
}

time {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--gray);
}

footer {
  margin-top: 2.5rem;
}

.footer-link {
  font-size: 0.8rem;
  font-style: italic;
  text-decoration: none;
  color: var(--gray);
}
